body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #FFCC00;
    font-size: 18px;
}

.navbar ul li a.active {
    color: #ffcc00;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.container h1 {
    color: #FFCC00;
}

.task-section {
    width: 60%;
}

.task-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.task-card {
    background-color: #3a3a3a;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.task-card:hover {
    transform: translateY(-10px);
}

.task-card .delete-task, .task-card .update-task-status {
    background-color: #444;
    color: #f0f0f0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.task-card .delete-task:hover, .task-card .update-task-status:hover {
    background-color: #555;
}

.completed {
    text-decoration: line-through;
    color: #7d7d7d;
}

.circle-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ffcc00;
    background-color: #333;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffcc00;
    font-size: 14px;
    line-height: 1;
}

.circle-button:hover {
    background-color: #555;
}

.add-task-section {
    width: 35%;
    background-color: #3a3a3a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.add-task-section h2 {
    margin-bottom: 10px;
    color: #ffcc00;
}

.add-task-section form {
    display: flex;
    flex-direction: column;
}

.add-task-section input, .add-task-section button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.add-task-section button {
    background-color: #ffcc00;
    color: #1a1a1a;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-task-section button:hover {
    background-color: #e6b800;
}